# ==========================================
#   LOTUX BOT v1.0.0 - Configurações
# ==========================================

# Token do bot (obrigatório)
DISCORD_TOKEN=seu_token_aqui

# IDs fixos
CLIENT_ID=1506704645182197922
GUILD_ID=1504850459498909696

# API Server
PORT=3000
API_SECRET=uma_chave_secreta_forte_aqui

# Ambiente
NODE_ENV=production
